@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

.App {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  z-index: 2;
}
.clouds {
  background: linear-gradient(
      rgba(30, 33, 58, 0.95) 100%,
      rgba(30, 33, 58, 0.95) 100%
    ),
    url("/public/images/Cloud-background.png");
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: 150%;
}